numpy==1.23.5
spacy==3.5.0
h5py==3.8.0
streamlit>=1.41.1
pandas
matplotlib
seaborn
nltk
scikit-learn
xgboost
imblearn
wordcloud
PyPDF2
python-docx
tqdm
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
